

<!-- hidden value to reset datatable state save -->
<span id="removeDatatablesStateSave" class="d-none">@ViewBag.RemoveDatatablesStateSave</span>

<div class="page-loader flex-column bg-dark bg-opacity-25">
    <span class="spinner-border text-primary fs-3" role="status"></span>
    <span class="text-gray-800 fs-3 fw-semibold mt-5">Loading..</span>
</div>

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->

<!--begin::Vendors Javascript-->
<script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script> 
<script src="~/assets/plugins/vendor/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!--end::Vendors Javascript-->

<!--begin::Custom Javascript-->
@*<script src="~/assets/js/custom/authentication/sign-in/general.js"></script>*@
<script src="~/assets/js/widgets.bundle.js"></script>
<script src="~/assets/js/custom/widgets.js"></script>
<script src="~/assets/js/custom/apps/chat/chat.js"></script>
<script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="~/assets/js/custom/utilities/modals/users-search.js"></script>

<partial name='~/Views/Shared/Javascripts.cshtml' />
<!--end::Custom Javascript-->
