@{
    ViewBag.SelectedNavigationMenu = "Home";
    ViewBag.Subtitle = "Dashboard";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card animated bounceInLeft">
            <div class="card-body" style="min-height:400px;">
                <label class="text-primary col-form-label col-lg-12 text-center h1">Welcome to Bina Mitra Textile website</label>
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {
    });

</script>