<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="connDBLive" connectionString="Data Source=binamitra.ddns.net;Initial Catalog=BinaMitraTextile;Persist Security Info=False;User ID=binamitra;Password=binamitra;" providerName="System.Data.SqlClient" />
    <add name="connDBLiveLocal" connectionString="Data Source=192.168.100.100;Initial Catalog=BinaMitraTextile;Persist Security Info=False;User ID=binamitra;Password=binamitra;" providerName="System.Data.SqlClient" />
    <add name="connDBLiveForServer" connectionString="Data Source=BM\SQLEXPRESS;Initial Catalog=BinaMitraTextile;Persist Security Info=False;User ID=binamitra;Password=binamitra;" providerName="System.Data.SqlClient" />
    <add name="connDBDEV" connectionString="Data Source=RQ-ASUS\SQLEXPRESS;Initial Catalog=BinaMitraTextile;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\BinaMitraTextile.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="serverComputerName" value="BM"/>
    <add key="salesComputerName" value="KASIR"/>
    <add key="salesComputerName2" value="BM-POS"/>
    <add key="tabComputerName" value="RQ-iWORK103"/>
    <add key="devComputerName" value="RQ-ASUS"/>
    <add key="serverName_Live" value="binamitra.ddns.net"/>
    <add key="serverName_LiveLocal" value="192.168.100.100"/>
    <add key="serverName_LiveForServer" value="BM\SQLEXPRESS"/>
    <add key="serverName_DEV" value="RQ-ASUS\SQLEXPRESS"/>
    <add key="barcodeScannerDelay" value="30"/>
    <add key="pettyCashNoLength" value="6" />
    <add key="itemBarcodeMandatoryPrefix" value="i" />
    <add key="itemBarcodeLength" value="5" />
    <add key="saleBarcodeLength" value="5" />
    <add key="gordenOrderBarcodeLength" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="uploadStorage" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>